[submodule "perl/Amon"]
	path = perl/Amon
	url = https://github.com/tokuhirom/Amon.git
[submodule "perl/Config-ENV"]
	path = perl/Config-ENV
	url = git://github.com/cho45/Config-ENV.git
[submodule "perl/DBIx-MoCo"]
	path = perl/DBIx-MoCo
	url = https://github.com/hatena/DBIx-MoCo.git
[submodule "perl/Guita"]
	path = perl/Guita
	url = git://github.com/hakobe/Guita.git
[submodule "perl/Net-Twitter"]
	path = perl/Net-Twitter
	url = https://github.com/semifor/Net-Twitter.git
[submodule "perl/Plack"]
	path = perl/Plack
	url = git://github.com/plack/Plack.git
[submodule "perl/Ridge"]
	path = perl/Ridge
	url = git://github.com/hatena/Ridge.git
[submodule "perl/Teng"]
	path = perl/Teng
	url = git://github.com/nekokak/p5-Teng.git
[submodule "perl/cpanminus"]
	path = perl/cpanminus
	url = git://github.com/miyagawa/cpanminus.git
[submodule "perl/carton"]
	path = perl/carton
	url = git://github.com/miyagawa/carton.git
[submodule "perl/Class-Accessor-Lite"]
	path = perl/Class-Accessor-Lite
	url = https://github.com/kazuho/p5-Class-Accessor-Lite.git
[submodule "perl/Test-Mock-Guard"]
	path = perl/Test-Mock-Guard
	url = https://github.com/zigorou/p5-test-mock-guard.git
[submodule "perl/Net-GitHub"]
	path = perl/Net-GitHub
	url = https://github.com/fayland/perl-net-github.git
[submodule "perl/PrePAN"]
	path = perl/PrePAN
	url = https://github.com/prepan-developers/prepan.git
[submodule "ruby/rails"]
	path = ruby/rails
	url = git://github.com/rails/rails.git
[submodule "ruby/trema"]
	path = ruby/trema
	url = git://github.com/trema/trema.git
[submodule "ruby/sinatra"]
	path = ruby/sinatra
	url = git://github.com/sinatra/sinatra.git
[submodule "ruby/ramaze"]
	path = ruby/ramaze
	url = git://github.com/Ramaze/ramaze.git
[submodule "ruby/twitter"]
	path = ruby/twitter
	url = https://github.com/sferik/twitter.git
[submodule "ruby/railscast"]
	path = ruby/railscast
	url = https://github.com/ryanb/railscasts.git
[submodule "ruby/redmine"]
	path = ruby/redmine
	url = git://github.com/redmine/redmine.git
[submodule "ruby/qiita-rb"]
	path = ruby/qiita-rb
	url = git://github.com/yaotti/qiita-rb.git
[submodule "ruby/devise"]
	path = ruby/devise
	url = https://github.com/plataformatec/devise.git
[submodule "ruby/warden"]
	path = ruby/warden
	url = https://github.com/hassox/warden.git
[submodule "ruby/rack"]
	path = ruby/rack
	url = git://github.com/rack/rack.git
[submodule "ruby/hub"]
	path = ruby/hub
	url = git://github.com/defunkt/hub.git
[submodule "ruby/pry"]
	path = ruby/pry
	url = git://github.com/pry/pry.git
[submodule "ruby/eventmachine"]
	path = ruby/eventmachine
	url = https://github.com/eventmachine/eventmachine.git
[submodule "ruby/chatroid"]
	path = ruby/chatroid
	url = git://github.com/r7kamura/chatroid.git
[submodule "js/antigen"]
	path = js/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "js/backbone"]
	path = js/backbone
	url = https://github.com/documentcloud/backbone.git
[submodule "js/underscore"]
	path = js/underscore
	url = https://github.com/documentcloud/underscore.git
[submodule "js/jquery"]
	path = js/jquery
	url = https://github.com/jquery/jquery.git
[submodule "ruby/tw"]
	path = ruby/tw
	url = https://github.com/shokai/tw.git
[submodule "c/tcpdump"]
	path = c/tcpdump
	url = https://github.com/mcr/tcpdump.git
[submodule "c/libpcap"]
	path = c/libpcap
	url = https://github.com/mcr/libpcap.git
[submodule "perl/DBIx-Lite"]
	path = perl/DBIx-Lite
	url = https://github.com/alexrj/DBIx-Lite.git
[submodule "ruby/rubygems"]
	path = ruby/rubygems
	url = https://github.com/rubygems/rubygems.org.git
[submodule "c/thrust"]
	path = c/thrust
	url = https://github.com/thrust/thrust.git
[submodule "c/kgpu"]
	path = c/kgpu
	url = https://github.com/wbsun/kgpu.git
[submodule "ruby/gitlabhq"]
	path = ruby/gitlabhq
	url = https://github.com/gitlabhq/gitlabhq.git
[submodule "c/recaro"]
	path = c/recaro
	url = https://github.com/KLab/recaro.git
[submodule "js/express"]
	path = js/express
	url = https://github.com/visionmedia/express.git
[submodule "js/socket.io"]
	path = js/socket.io
	url = https://github.com/LearnBoost/socket.io.git
[submodule "perl/Hash-MultiValue"]
	path = perl/Hash-MultiValue
	url = https://github.com/miyagawa/Hash-MultiValue.git
[submodule "ruby/hashr"]
	path = ruby/hashr
	url = https://github.com/svenfuchs/hashr.git
[submodule "perl/GrowthForecast"]
	path = perl/GrowthForecast
	url = git@github.com:kazeburo/GrowthForecast.git
