[submodule "perl/Amon"]
	path = perl/Amon
	url = https://github.com/tokuhirom/Amon.git
[submodule "perl/Config-ENV"]
	path = perl/Config-ENV
	url = git://github.com/cho45/Config-ENV.git
[submodule "perl/DBIx-MoCo"]
	path = perl/DBIx-MoCo
	url = https://github.com/hatena/DBIx-MoCo.git
[submodule "perl/Guita"]
	path = perl/Guita
	url = git://github.com/hakobe/Guita.git
[submodule "perl/Net-Twitter"]
	path = perl/Net-Twitter
	url = https://github.com/semifor/Net-Twitter.git
[submodule "perl/Plack"]
	path = perl/Plack
	url = git://github.com/plack/Plack.git
[submodule "perl/Ridge"]
	path = perl/Ridge
	url = git://github.com/hatena/Ridge.git
[submodule "perl/Teng"]
	path = perl/Teng
	url = git://github.com/nekokak/p5-Teng.git
[submodule "perl/cpanminus"]
	path = perl/cpanminus
	url = git://github.com/miyagawa/cpanminus.git
[submodule "perl/carton"]
	path = perl/carton
	url = git://github.com/miyagawa/carton.git
[submodule "perl/Class-Accessor-Lite"]
	path = perl/Class-Accessor-Lite
	url = https://github.com/kazuho/p5-Class-Accessor-Lite.git
[submodule "perl/Test-Mock-Guard"]
	path = perl/Test-Mock-Guard
	url = https://github.com/zigorou/p5-test-mock-guard.git
[submodule "perl/Net-GitHub"]
	path = perl/Net-GitHub
	url = https://github.com/fayland/perl-net-github.git
[submodule "ruby/rails"]
	path = ruby/rails
	url = git://github.com/rails/rails.git
[submodule "ruby/trema"]
	path = ruby/trema
	url = git://github.com/trema/trema.git
[submodule "ruby/sinatra"]
	path = ruby/sinatra
	url = git://github.com/sinatra/sinatra.git
[submodule "ruby/ramaze"]
	path = ruby/ramaze
	url = git://github.com/Ramaze/ramaze.git
[submodule "ruby/twitter"]
	path = ruby/twitter
	url = https://github.com/sferik/twitter.git
[submodule "ruby/railscast"]
	path = ruby/railscast
	url = https://github.com/ryanb/railscasts.git
[submodule "ruby/redmine"]
	path = ruby/redmine
	url = git://github.com/redmine/redmine.git
[submodule "ruby/qiita-rb"]
	path = ruby/qiita-rb
	url = git://github.com/yaotti/qiita-rb.git
[submodule "ruby/devise"]
	path = ruby/devise
	url = https://github.com/plataformatec/devise.git
[submodule "ruby/warden"]
	path = ruby/warden
	url = https://github.com/hassox/warden.git
[submodule "ruby/rack"]
	path = ruby/rack
	url = git://github.com/rack/rack.git
[submodule "ruby/hub"]
	path = ruby/hub
	url = git://github.com/defunkt/hub.git
[submodule "ruby/pry"]
	path = ruby/pry
	url = git://github.com/pry/pry.git
[submodule "ruby/eventmachine"]
	path = ruby/eventmachine
	url = https://github.com/eventmachine/eventmachine.git
[submodule "ruby/chatroid"]
	path = ruby/chatroid
	url = git://github.com/r7kamura/chatroid.git
[submodule "js/antigen"]
	path = js/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "js/backbone"]
	path = js/backbone
	url = https://github.com/documentcloud/backbone.git
[submodule "js/underscore"]
	path = js/underscore
	url = https://github.com/documentcloud/underscore.git
[submodule "js/jquery"]
	path = js/jquery
	url = https://github.com/jquery/jquery.git
[submodule "ruby/tw"]
	path = ruby/tw
	url = https://github.com/shokai/tw.git
[submodule "c/tcpdump"]
	path = c/tcpdump
	url = https://github.com/mcr/tcpdump.git
[submodule "c/libpcap"]
	path = c/libpcap
	url = https://github.com/mcr/libpcap.git
[submodule "perl/DBIx-Lite"]
	path = perl/DBIx-Lite
	url = https://github.com/alexrj/DBIx-Lite.git
[submodule "ruby/faraday"]
	path = ruby/faraday
	url = https://github.com/technoweenie/faraday.git
[submodule "ruby/rubygems"]
	path = ruby/rubygems
	url = https://github.com/rubygems/rubygems.org.git
[submodule "c/thrust"]
	path = c/thrust
	url = https://github.com/thrust/thrust.git
[submodule "c/kgpu"]
	path = c/kgpu
	url = https://github.com/wbsun/kgpu.git
[submodule "ruby/gitlabhq"]
	path = ruby/gitlabhq
	url = https://github.com/gitlabhq/gitlabhq.git
[submodule "c/recaro"]
	path = c/recaro
	url = https://github.com/KLab/recaro.git
[submodule "js/express"]
	path = js/express
	url = https://github.com/visionmedia/express.git
[submodule "js/socket.io"]
	path = js/socket.io
	url = https://github.com/LearnBoost/socket.io.git
[submodule "perl/Hash-MultiValue"]
	path = perl/Hash-MultiValue
	url = https://github.com/miyagawa/Hash-MultiValue.git
[submodule "ruby/hashr"]
	path = ruby/hashr
	url = https://github.com/svenfuchs/hashr.git
[submodule "perl/GrowthForecast"]
	path = perl/GrowthForecast
	url = git@github.com:kazeburo/GrowthForecast.git
[submodule "c/tcp-daytona"]
	path = c/tcp-daytona
	url = git@github.com:jamesbw/tcp-daytona.git
[submodule "c/Packet-IO-Engine"]
	path = c/Packet-IO-Engine
	url = git://github.com/PacketShader/Packet-IO-Engine.git
[submodule "viml/unite-git.git"]
	path = viml/unite-git.git
	url = git@github.com:yuku-t/unite-git.git
[submodule "viml/unite-ruby-require.vim"]
	path = viml/unite-ruby-require.vim
	url = git@github.com:rhysd/unite-ruby-require.vim.git
[submodule "viml/flymake-perl.vim"]
	path = viml/flymake-perl.vim
	url = git@github.com:ywatase/flymake-perl.vim.git
[submodule "perl/project-libs"]
	path = perl/project-libs
	url = git@github.com:kentaro/perl-project-libs.git
[submodule "viml/vim-localrc"]
	path = viml/vim-localrc
	url = git@github.com:thinca/vim-localrc.git
[submodule "viml/syntastic.vim"]
	path = viml/syntastic.vim
	url = git@github.com:scrooloose/syntastic.git
[submodule "dotfiles/rhysd"]
	path = dotfiles/rhysd
	url = git@github.com:rhysd/dotfiles.git
[submodule "dotfiles/aereal"]
	path = dotfiles/aereal
	url = git@github.com:aereal/dotfiles.git
[submodule "cpp/SYN-flood"]
	path = cpp/SYN-flood
	url = git@github.com:pfpacket/SYN-flood.git
[submodule "c/nmap"]
	path = c/nmap
	url = git@github.com:nmap/nmap.git
[submodule "perl/munin"]
	path = perl/munin
	url = git@github.com:munin-monitoring/munin.git
[submodule "perl/Test-Mock-ExternalCommand"]
	path = perl/Test-Mock-ExternalCommand
	url = git@github.com:tsucchi/p5-Test-Mock-ExternalCommand.git
[submodule "perl/Router-Simple"]
	path = perl/Router-Simple
	url = git@github.com:tokuhirom/p5-router-simple.git
[submodule "c/rrdtool"]
	path = c/rrdtool
	url = git@github.com:oetiker/rrdtool-1.x.git
[submodule "perl/starter.pl"]
	path = perl/starter.pl
	url = https://github.com/cho45/starter.pl
[submodule "perl/capture-tiny"]
	path = perl/capture-tiny
	url = git@github.com:dagolden/capture-tiny.git
[submodule "perl/Kossy"]
	path = perl/Kossy
	url = git@github.com:kazeburo/Kossy.git
[submodule "perl/oauth-lite"]
	path = perl/oauth-lite
	url = git@github.com:lyokato/p5-oauth-lite.git
[submodule "js/flight"]
	path = js/flight
	url = git@github.com:twitter/flight.git
[submodule "perl/DBIx-QueryLog"]
	path = perl/DBIx-QueryLog
	url = git@github.com:xaicron/p5-DBIx-QueryLog.git
[submodule "perl/Scope-Container-DBI"]
	path = perl/Scope-Container-DBI
	url = git@github.com:kazeburo/Scope-Container-DBI.git
[submodule "perl/Plack-Middleware-Session"]
	path = perl/Plack-Middleware-Session
	url = git@github.com:stevan/plack-middleware-session.git
[submodule "perl/Plack-Builder-Conditionals"]
	path = perl/Plack-Builder-Conditionals
	url = git@github.com:kazeburo/Plack-Builder-Conditionals.git
[submodule "perl/HTTP-Tiny"]
	path = perl/HTTP-Tiny
	url = git@github.com:chansen/p5-http-tiny.git
[submodule "perl/Test-Stub"]
	path = perl/Test-Stub
	url = git@github.com:tokuhirom/Test-Stub.git
[submodule "perl/Plack-Middleware-ServerStatus-Lite"]
	path = perl/Plack-Middleware-ServerStatus-Lite
	url = git@github.com:kazeburo/Plack-Middleware-ServerStatus-Lite.git
[submodule "perl/Plack-Middleware-Debug"]
	path = perl/Plack-Middleware-Debug
	url = git@github.com:miyagawa/Plack-Middleware-Debug.git
[submodule "perl/ack"]
	path = perl/ack
	url = git@github.com:petdance/ack.git
[submodule "perl/mojo"]
	path = perl/mojo
	url = git@github.com:kraih/mojo.git
[submodule "perl/cinnamon"]
	path = perl/cinnamon
	url = git@github.com:kentaro/cinnamon.git
[submodule "perl/Class-Accessor-Lite-Lazy"]
	path = perl/Class-Accessor-Lite-Lazy
	url = git://github.com/motemen/Class-Accessor-Lite-Lazy.git
[submodule "perl/Amon2-Lite"]
	path = perl/Amon2-Lite
	url = git://github.com/tokuhirom/Amon2-Lite.git
[submodule "perl/TheSchwartz"]
	path = perl/TheSchwartz
	url = git://github.com/saymedia/TheSchwartz.git
[submodule "perl/Proclet"]
	path = perl/Proclet
	url = git://github.com/kazeburo/Proclet.git
[submodule "perl/Parallel-Prefork"]
	path = perl/Parallel-Prefork
	url = git://github.com/kazuho/p5-parallel-prefork.git
[submodule "c/microps"]
	path = c/microps
	url = git://github.com/pandax381/microps.git
[submodule "perl/Starman"]
	path = perl/Starman
	url = git://github.com/miyagawa/Starman.git
[submodule "perl/Starlet"]
	path = perl/Starlet
	url = git://github.com/kazuho/Starlet.git
[submodule "c/unetstack"]
	path = c/unetstack
	url = http://www.ioremap.net/archive/unetstack/unetstack.git/
[submodule "perl/Data-Validator"]
	path = perl/Data-Validator
	url = git://github.com/gfx/p5-Data-Validator.git
[submodule "perl/Mouse"]
	path = perl/Mouse
	url = git://github.com/gfx/p5-Mouse.git
[submodule "perl/Minilla"]
	path = perl/Minilla
	url = git://github.com/tokuhirom/Minilla.git
[submodule "perl/Validate-Tiny"]
	path = perl/Validate-Tiny
	url = git://github.com/naturalist/Validate--Tiny.git
[submodule "perl/FormValidator-Lite"]
	path = perl/FormValidator-Lite
	url = git://github.com/tokuhirom/formvalidator-lite.git
[submodule "perl/dongry"]
	path = perl/dongry
	url = git://github.com/wakaba/dongry.git
[submodule "perl/Server-Starter"]
	path = perl/Server-Starter
	url = git://github.com/kazuho/p5-Server-Starter.git
[submodule "perl/SQL-Maker"]
	path = perl/SQL-Maker
	url = git://github.com/tokuhirom/SQL-Maker.git
[submodule "perl/Monoceros"]
	path = perl/Monoceros
	url = git://github.com/kazeburo/Monoceros.git
[submodule "perl/DBI"]
	path = perl/DBI
	url = git://github.com/perl5-dbi/dbi.git
[submodule "perl/Text-Xslate"]
	path = perl/Text-Xslate
	url = git://github.com/xslate/p5-Text-Xslate.git
[submodule "perl/DBD-mysql"]
	path = perl/DBD-mysql
	url = git://github.com/CaptTofu/DBD-mysql.git
[submodule "perl/prepan"]
	path = perl/prepan
	url = git://github.com/CPAN-API/prepan
[submodule "js/realtime-log-visualization"]
	path = js/realtime-log-visualization
	url = git://github.com/stanaka/realtime-log-visualization.git
[submodule "js/rickshaw"]
	path = js/rickshaw
	url = git://github.com/shutterstock/rickshaw.git
[submodule "perl/Perlbal"]
	path = perl/Perlbal
	url = git://github.com/perlbal/Perlbal.git
[submodule "perl/flight"]
	path = perl/flight
	url = git://github.com/twitter/flight.git
[submodule "c/hammer"]
	path = c/hammer
	url = git://github.com/kay21s/hammer.git
[submodule "c/libgpucrypto"]
	path = c/libgpucrypto
	url = https://github.iu.edu/nhusted/libgpucrypto.git
[submodule "perl/Sub-Retry"]
	path = perl/Sub-Retry
	url = git://github.com/tokuhirom/Sub-Retry.git
[submodule "perl/Qudo"]
	path = perl/Qudo
	url = git://github.com/nekokak/qudo.git
[submodule "perl/STF"]
	path = perl/STF
	url = git://github.com/stf-storage/stf.git
[submodule "perl/Test-TCP"]
	path = perl/Test-TCP
	url = git://github.com/tokuhirom/Test-TCP.git
[submodule "cpp/q4m"]
	path = cpp/q4m
	url = https://github.com/q4m/q4m.git
[submodule "ruby/serverspec"]
	path = ruby/serverspec
	url = https://github.com/mizzy/serverspec.git
[submodule "sh/mysetup"]
	path = sh/mysetup
	url = https://github.com/kazeburo/mysetup.git
[submodule "perl/Clutch"]
	path = perl/Clutch
	url = https://github.com/nekokak/p5-Clutch.git
[submodule "perl/Qudo-Parallel-Worker"]
	path = perl/Qudo-Parallel-Worker
	url = https://github.com/nekokak/Qudo-Parallel-Worker.git
[submodule "perl/Qudo-Parallel-Manager"]
	path = perl/Qudo-Parallel-Manager
	url = https://github.com/nekokak/Qudo-Parallel-Manager.git
[submodule "ruby/rpm"]
	path = ruby/rpm
	url = https://github.com/newrelic/rpm.git
[submodule "js/aura"]
	path = js/aura
	url = https://github.com/aurajs/aura.git
[submodule "perl/mysqlenv"]
	path = perl/mysqlenv
	url = https://github.com/xaicron/mysqlenv.git
[submodule "perl/Coro"]
	path = perl/Coro
	url = https://github.com/chipdude/coro.git
[submodule "perl/TheSchwartz-Simple"]
	path = perl/TheSchwartz-Simple
	url = https://github.com/miyagawa/theschwartz-simple.git
[submodule "perl/Nephia"]
	path = perl/Nephia
	url = https://github.com/ytnobody/Nephia.git
[submodule "perl/Devel-KYTProf"]
	path = perl/Devel-KYTProf
	url = https://github.com/onishi/perl5-devel-kytprof.git
[submodule "perl/Test-Class"]
	path = perl/Test-Class
	url = https://github.com/adrianh/test-class.git
[submodule "others/isucon"]
	path = others/isucon
	url = https://github.com/tagomoris/isucon.git
[submodule "perl/cloudforecast"]
	path = perl/cloudforecast
	url = https://github.com/kazeburo/cloudforecast.git
[submodule "perl/Ark"]
	path = perl/Ark
	url = https://github.com/ark-framework/ark.git
[submodule "perl/Scope-Container"]
	path = perl/Scope-Container
	url = https://github.com/kazeburo/Scope-Container.git
[submodule "perl/List-UtilsBy-XS"]
	path = perl/List-UtilsBy-XS
	url = https://github.com/syohex/p5-List-Utils-By.git
[submodule "perl/Dist-Maker"]
	path = perl/Dist-Maker
	url = https://github.com/gfx/Dist-Maker.git
[submodule "go/groupcache"]
	path = go/groupcache
	url = https://github.com/golang/groupcache.git
[submodule "go/docker"]
	path = go/docker
	url = https://github.com/dotcloud/docker.git
[submodule "ruby/RReDis"]
	path = ruby/RReDis
	url = https://github.com/dsander/RReDis.git
[submodule "python/kairos"]
	path = python/kairos
	url = https://github.com/agoragames/kairos.git
[submodule "ruby/fnordmetric"]
	path = ruby/fnordmetric
	url = https://github.com/paulasmuth/fnordmetric.git
[submodule "go/etcd"]
	path = go/etcd
	url = https://github.com/coreos/etcd.git
[submodule "go/go-dnssd"]
	path = go/go-dnssd
	url = https://github.com/soh335/go-dnssd.git
[submodule "go/eventsource"]
	path = go/eventsource
	url = https://github.com/antage/eventsource.git
[submodule "python/ansible"]
	path = python/ansible
	url = https://github.com/ansible/ansible.git
